# Configuración del Servidor
SERVER_IP=192.168.X.X
TZ=Europe/Madrid

# Credenciales de los Servicios
COMPREFACE_API_KEY=tu_api_key_aqui
MQTT_PASSWORD=tu_contraseña_mqtt_aqui

# Datos de la cámara
FRIGATE_RTSP_USER=usuario_
FRIGATE_RTSP_PASSWORD=contraseña
FRIGATE_CAM_IP=192.168.X.X