# Variables de entorno (Contiene contraseñas y tokens locales)
.env
*.env

# Archivos temporales y del sistema operativo
.DS_Store
Thumbs.db
.vscode/

# Datos persistentes de los contenedores (No queremos subir gigas de base de datos a GitHub)
docker/frigate/db/
docker/compreface/data/
docker/home-assistant/config/

# Datos de HA y videos
docker/mosquitto_data/
docker/config_ha/
*.db

# Ignorar la base de datos de Home Assistant y logs
**/home-assistant_v2.db
**/home-assistant_v2.db-shm
**/home-assistant_v2.db-wal
**/*.log
**/.ha_run.lock